.garage-page {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.car-list {
    display: flex;
    flex-direction: column;
}

.container-car {
    header {
        button, strong {
            display: inline-block;
            margin-right: 5px;
        }
        strong {
            margin-right: 0;
            color: yellow;
        }
    }
    .car-item {
        border-bottom: 2px dotted white;
        margin-bottom: 10px;
        position: relative;
        height: 44px;

        .action-btn {
            cursor: pointer;
            color: white;
            background-color: transparent;
            border-radius: 5px;
            border: 2px solid white;
            padding: 3px 6px;
            margin-right: 5px;
            opacity: 0.5;
            &.active {
                opacity: 1;
                &.btn-start {
                    color: rgb(76, 175, 0);
                    border-color: rgb(76, 175, 0);
                }
            }
        }
        svg {
            position: absolute;
            &.carTemplate {
                left:60px;
                width: 80px;
                height: 44px;
            }
            &.flagTemplate {
                right:60px;
                width: 80px;
                height: 44px;
            }
        }
    }
    
}


// @keyframes car {
//     0% {
//         transform: translateY(-4px);
//     }

//     50% {
//         transform: translateY(0px);
//     }

//     100% {
//         transform: translateY(-4px);
//     }
// }