$var-bg-color: #53459e;
$var-text-color: #fff;

:root {
    --max-width: 1024px;
    --max-height: 800px;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    max-height: var(--max-height);
    background-color: $var-bg-color;
    color: $var-text-color;
}

.container-btns {
    display: flex;
}

.btn {
    border: 2px solid #fff;
    padding: 5px 5px;
    margin-right: 5px;
    margin-top: 10px;
    text-transform: uppercase;
    transition-duration: 0.4s;
    background-color: rgb(160, 170, 247);
    
    &:hover {
        color:#53459e;
        cursor: pointer;
    }
    &.btn-selected {
        text-decoration: underline;
    }
}

.btn-green {
    width: 100px;
    background-color: rgb(158, 239, 52);
    text-transform: uppercase;
}
.header-page {
    color:#fff;
}

input[type=text]{
    margin-right: 5px;

}
input[type=color]{
    margin: 0 20px;
    padding: 0;
    transform: translateY(5px);
}

