$var-bg-color: #000;
$var-text-color: #fff;

:root {
    --max-width: 1024px;
    --max-height: 800px;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    max-height: var(--max-height);
    background-color: $var-bg-color;
    color: $var-text-color;
}

.container-input {
    display: flex;
    width: 100%;
}

.btn {
    border: 2px solid #fff;
    padding: 10px;
    margin: 10px 5px;
    text-transform: uppercase;
    transition-duration: 0.4s;
    background-color: rgb(60, 120, 140);
    
    &:hover {
        color: rgb(99, 187, 51);
        cursor: pointer;
    }
    &.btn-selected {
        text-decoration: underline;
    }
}

.btn-green {
    display: flex;
    width: 100px;
    background-color: lightgreen;
    text-transform: uppercase;
}

.car {
    width: 50px;
    height: 50px;
    top: 50px;
    left: 50px;
    position: absolute;
}

.car img {
    width: 100%;
    animation: car 1s linear infinite;
}

@keyframes car {
    0% {
        transform: translateY(-4px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-4px);
    }
}